---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Page Not Found">
	<div
		class="mx-auto flex h-screen w-[80%] flex-col items-center justify-center text-balance text-center">
		<h1 class="mb-10 text-3xl font-semibold">
			Uh-oh, looks like this page does not exist. Enjoy a puppy instead!
		</h1>
		<Image
			src="/images/puppy.webp"
			width={400}
			height={400}
			alt="puppy image"
			class="rounded-3xl"
		/>
	</div>
</Layout>
