---
import { fade } from "astro:transitions";
import AboutPost from "../content/about/about.mdx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <div class="mt-[100px] flex flex-col items-center justify-center">
    <article
      transition:animate={fade({ duration: "0.25s" })}
      class="prose-a:duration-400 prose prose-base prose-invert mx-auto mt-[1rem] w-[90%] overflow-hidden text-balance md:prose-lg lg:prose-xl prose-headings:text-gray-300 prose-h1:text-blue-400 prose-p:font-normal prose-a:transition prose-a:ease-out sm:prose-a:text-white sm:hover:prose-a:text-orange-400"
    >
      <a
        href="/"
        class="relative bottom-1 text-xl text-white no-underline hover:underline sm:bottom-2 sm:hover:text-orange-400"
        >Back</a
      >
      <AboutPost />
    </article>
  </div>
</Layout>
