---
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home Page">
	<header
		class="mx-auto m-10 gap-10 flex-col flex sm:flex-row items-center justify-center mt-[100px] w-[85%]">
		<h1 class="text-xl md:text-4xl font-bold text-center text-balance w-[50%]">
			Hey There 👋 My Name is <span
				class="text-nowrap relative before:absolute before:w-full before:h-[0.3rem] before:bg-sky-500 before:rounded-full before:-bottom-1 before:inset-x-0"
				>Jay Patel</span
			>
			and I am Software Developer Based in Georgia
		</h1>
		<div>
			<Image
				class="rounded-3xl transition duration-200 ease-in-out"
				src="/images/self.webp"
				alt="portfolio picture"
				width="300"
				height="300"
				draggable="false"
			/>
		</div>
	</header>

	<div class="flex justify-center items-end">
		<a
			href="/docs/Resume_2024.pdf"
			class="w-[7rem] h-[2.5rem]"
			download="Jay_Patel_Software_Developer_Resume.pdf">
			<button
				class="bg-red-500 text-white text-xl hover:bg-sky-500 hover:scale-110 transition duration-200 rounded-3xl font-medium text-center w-[7rem] h-[2.5rem] block mx-auto"
				>Resume</button
			>
		</a>
	</div>
</Layout>
