---

---

<div class="relative flex flex-col items-center gap-4">
  <h1
    class="mx-auto text-center font-bold text-3xl lg:text-4xl mt-[100px] relative inline-block before:absolute before:w-full before:h-[0.3rem] before:bg-orange-500 before:rounded-full before:-bottom-1 before:left-0 mb-4"
  >
    About
  </h1>
  <p class="text-center text-balance w-[70%] text-gray-300">
    Hello, I&apos;m Jay Patel, a passionate software developer dedicated to
    creating impactful full-stack applications that make a difference. By day, I
    serve as a Software Developer for the United States Air Force, where I bring
    my technical expertise to mission critical projects. In my free time,
    I&apos;m always experimenting with new technologies and building innovative
    applications. Most recently, I&apos;ve been diving into Astro to due to
    it&apos;s performance and suitability for content-rich websites.
  </p>
</div>
