---
import "../styles/global.css";
---

<div
  class="relative mx-[20%] w-[80%]"
  transition:name="blobs"
  transition:animate="none"
>
  <div
    class="absolute top-60 h-[50vw] max-h-[30rem] w-[50vw] max-w-[30rem] animate-blob overflow-hidden rounded-full bg-green-500 opacity-70 mix-blend-difference blur-2xl filter"
  >
  </div>
  <div
    class="animation-delay-4000 absolute left-[5rem] top-[10rem] h-[50vw] max-h-[30rem] w-[50vw] max-w-[30rem] animate-blob overflow-hidden rounded-full bg-blue-500 opacity-60 mix-blend-difference blur-2xl filter md:left-[10rem] lg:left-[15rem]"
  >
  </div>
  <div
    class="animation-delay-4000 absolute h-[50vw] max-h-[30rem] w-[50vw] max-w-[30rem] animate-blob overflow-hidden rounded-full bg-red-500 opacity-60 mix-blend-difference blur-2xl filter"
  >
  </div>
</div>
