---
const { name, description, tech, url } = Astro.props;
// const techStack = tech.split(", ");
---

<a href={url} class="w-full">
  <div
    class="w-full rounded-3xl border bg-black-light p-6 sm:hover:bg-blue-600/20"
  >
    <h1 class="text-2xl font-bold text-white">{name}</h1>
    <p class="text-xl font-semibold text-gray-300">{description}</p>
    <ul class="mt-3 flex flex-wrap">
      {
        (tech || "")
          .split(", ")
          .map((language) => (
            <li class="my-1 mr-1 inline rounded-3xl bg-blue-600 px-3 py-2 text-white">
              {language}
            </li>
          ))
      }
    </ul>
  </div>
</a>
