---

---

<footer class="text-center text-xl font-semibold flex flex-col sm:flex-row items-center justify-center gap-2 sm:g w-full dark:bg-white dark:text-black text-white h-[4rem] bg-black">
	<p>Logo</p>
	<div>&#169 2024 Jay Patel</div>
	<div>Socials</div>
</footer>
