---

---

<footer
  class="text-center font-light flex flex-col sm:flex-row sm:justify-between items-center justify-center gap-2 sm:g w-full dark:text-white px-10 my-10 text-base"
>
  <a
    href="/"
    class="font-semibold hover:rotate-[360deg] hover:scale-125 transition duration-200 ease-in-out"
    >JP</a
  >
  <p class="inline hover:shadow-sm shadow-2xl shadow-white">
    &nbsp; &#169 2024 Jay Patel
  </p>

  <div>Socials</div>
</footer>
