---

---

<nav class="">
  <ul
    class="h-[4rem] w-[80%] mx-auto rounded-b-xl flex flex-row fixed top-0 inset-0 items-center justify-center gap-10 text-xl font-semibold dark:text-white text-black backdrop-filter backdrop-blur"
  >
    <li class="">
      <a
        class="hover:text-accent cursor-pointer px-4 py-2 rounded-lg transition duration-200 ease-in-out"
        href="/">Home</a
      >
    </li>
    <li>
      <a
        class="hover:text-accent cursor-pointer px-4 py-2 rounded-lg transition duration-200 ease-in-out"
        href="/About">About</a
      >
    </li>
    <li>
      <a
        class="hover:text-accent cursor-pointer px-4 py-2 rounded-lg transition duration-200 ease-in-out"
        href="/Projects">Projects</a
      >
    </li>
    <li>
      <a
        class="hover:text-accent cursor-pointer px-4 py-2 rounded-lg transition duration-200 ease-in-out"
        href="/">Resume</a
      >
    </li>
  </ul>
</nav>
