---

---

<nav class="">
  <ul
    class="h-[4rem] w-[full] sm:w-[85%] mx-auto rounded-b-xl flex flex-row fixed top-0 inset-0 items-center justify-between gap-4 text-xl font-semibold dark:text-white text-black border-b-2 border-x-2 backdrop-filter backdrop-blur-xl text-center"
  >
    <a
      href="/"
      class="ml-10 hover:rotate-[360deg] hover:scale-125 transition duration-200 ease-in-out"
      >JP</a
    >
    <div class="flex items-center justify-end mr-10">
      <li class="">
        <a
          class="hover:text-sky-500 cursor-pointer px-4 py-2 rounded-lg transition duration-200 ease-in-out"
          href="/">Home</a
        >
      </li>
      <li>
        <a
          class="hover:text-red-500 cursor-pointer px-4 py-2 rounded-lg transition duration-200 ease-in-out"
          href="/about">About</a
        >
      </li>
      <li>
        <a
          class="hover:text-yellow-500 cursor-pointer px-4 py-2 rounded-lg transition duration-200 ease-in-out"
          href="/projects">Projects</a
        >
      </li>
      <li>
        <a
          class="hover:text-purple-500 cursor-pointer px-4 py-2 rounded-lg transition duration-200 ease-in-out"
          href="/">Resume</a
        >
      </li>
    </div>
  </ul>
</nav>
