---

---

<nav
  class="z-50 h-[4rem] w-[full] text-base sm:w-[640px] md:w-[768px] lg:w-[1024px] mx-auto sm:rounded-b-xl flex flex-row fixed top-0 inset-0 items-center justify-between font-semibold text-white sm:border-b-2 sm:border-x-2 backdrop-filter backdrop-blur-xl text-center"
>
  <a
    href="/"
    class="ml-10 sm:hover:rotate-[360deg] sm:hover:scale-125 transition duration-200 ease-in-out"
    >JP</a
  >
  <ul class="flex flex-nowrap items-center justify-center gap-x-4 mr-10">
    <li class="">
      <a
        class="sm:hover:text-sky-500 cursor-pointer rounded-lg transition duration-200 ease-in-out"
        href="/">Home</a
      >
    </li>
    <li>
      <a
        class="sm:hover:text-red-500 cursor-pointer rounded-lg transition duration-200 ease-in-out"
        href="/about">About</a
      >
    </li>
    <li>
      <a
        class="sm:hover:text-yellow-500 cursor-pointer rounded-lg transition duration-200 ease-in-out"
        href="/projects">Projects</a
      >
    </li>
  </ul>
</nav>
