---
import projects from "../collection/Projects.json";
import ProjectCard from "./ProjectCard.astro";
---

<div class="relative flex flex-col items-center justify-center">
  <h1
    class="mx-auto text-center font-bold text-3xl lg:text-4xl relative inline-block before:absolute before:w-full before:h-[0.3rem] before:bg-yellow-500 before:rounded-full before:-bottom-1 before:left-0 mb-[40px]"
  >
    Projects
  </h1>

  <div
    class="mb-[200px] grid grid-cols-2 lg:grid-cols-3 gap-8 place-items-center max-w-[500px] sm:max-w-[600px] lg:max-w-[800px] mx-auto"
  >
    {
      projects.map((project, index) => (
        <ProjectCard
          key={index}
          projectNumber={index + 1}
          link={project.url}
          name={project.name}
          image={project.image}
          description={project["description-short"]}
        />
      ))
    }
  </div>
</div>
