---
const { projectNumber } = Astro.props;
---

<div
  class="border rounded-2xl border-white w-[15rem] h-[15rem] flex items-center hover:shadow-xl hover:shadow-white justify-center text-center opacity-20 hover:scale-105 trasition duration-200 ease-out"
>
  Project {projectNumber}
</div>
