---
const { projectNumber, link, name, description, image } = Astro.props;
---

<a href={link} target="_blank" class="block">
  <div
    class="relative border rounded-2xl flex size-[150px] sm:size-[200px] lg:size-[250px] flex-col justify-end hover:shadow-lg hover:shadow-gray-800 text-white hover:scale-105 transition duration-200 ease-out"
    style={`background-image: url('${image}'); background-size: cover; background-position: center;`}
  >
    <div
      class="bg-black bg-opacity-70 px-3 py-2 rounded-b-2xl w-full flex flex-col justify-center items-center space-y-1"
    >
      <h1 class="font-bold text-xs sm:text-sm md:text-base">{name}</h1>
      <p class="text-[8px] sm:text-[10px] md:text-[12px] text-center">
        {description}
      </p>
    </div>
  </div>
</a>
