---
import { fade } from "astro:transitions";
import projects from "../content/collection/Projects.json";
import ProjectCard from "./ProjectCard.astro";
---

<div
  class="relative flex flex-col items-center justify-center"
  transition:animate={fade({ duration: "0.5s" })}
>
  <h1
    class="relative mx-auto mb-[40px] mt-[8rem] inline-block text-center text-2xl font-bold before:absolute before:-bottom-1 before:left-0 before:h-[0.3rem] before:w-full before:rounded-full before:bg-yellow-500 sm:text-3xl lg:text-4xl"
  >
    Projects
  </h1>

  <div
    class="mx-auto mb-[50px] grid max-w-[500px] grid-cols-2 place-items-center gap-8 sm:max-w-[600px] lg:max-w-[800px] lg:grid-cols-3"
  >
    {
      projects.map((project, index) => (
        <ProjectCard
          key={index}
          projectNumber={index + 1}
          link={project.url}
          name={project.name}
          image={project.image}
          description={project["description-short"]}
        />
      ))
    }
  </div>
</div>
