---

---

<div class="relative z-40 flex items-center justify-center">
  <a
    href="/docs/Resume_2024.pdf"
    class="group h-[50px] w-40"
    aria-label="Download Resume"
    download="Jay_Patel_Software_Developer_Resume.pdf"
  >
    <button
      class="relative flex h-[50px] w-40 items-center justify-center overflow-hidden rounded-3xl bg-gray-800 text-lg text-white shadow-2xl transition-all before:absolute before:h-0 before:w-0 before:rounded-full before:bg-orange-600 before:duration-500 before:ease-out sm:hover:shadow-orange-600 sm:hover:before:h-56 sm:hover:before:w-56"
      ><span class="z-10">Resume</span><span
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#ffffff"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-arrow-down-to-line group-sm:hover:animate-bounce relative z-10 mx-1 mb-1 inline"
          ><path d="M12 17V3"></path><path d="m6 11 6 6 6-6"></path><path
            d="M19 21H5"></path></svg
        ></span
      >
    </button>
  </a>
</div>
