---
export const prerender = true;

import { fade } from "astro:transitions";
import Layout from "../../layouts/Layout.astro";

// Import all MDX files in the specified directory
const mdxFiles = await Astro.glob("../../content/projects/*.mdx");

export function getStaticPaths() {
  return [
    {
      params: { ProjectDetails: "Application-Ally" },
    },
    { params: { ProjectDetails: "Local-Reports" } },
    { params: { ProjectDetails: "Weather-Wear" } },
  ];
}

const { ProjectDetails } = Astro.params;

// Find the MDX file where the frontmatter title matches the ProjectDetails parameter
const ProjectContent = mdxFiles.find(
  (post) => post.frontmatter.title.replace(/\s+/g, "-") === ProjectDetails,
)?.default;
---

<Layout title={ProjectDetails}>
  <div class="mt-[100px] flex flex-col items-center justify-center">
    <article
      transition:animate={fade({ duration: "0.25s" })}
      class="prose-a:duration-400 prose prose-base prose-invert mx-auto mt-[1rem] w-[90%] overflow-hidden text-balance md:prose-lg lg:prose-xl prose-headings:text-gray-300 prose-h1:text-blue-400 prose-p:font-normal prose-a:transition prose-a:ease-out sm:prose-a:text-white sm:hover:prose-a:text-orange-400"
    >
      <a
        href="/#all-projects"
        class="relative bottom-1 text-xl text-white no-underline hover:underline sm:bottom-2 sm:hover:text-orange-400"
        >Back</a
      >
      {
        ProjectContent ? (
          <ProjectContent />
        ) : (
          <h1>Project details not found.</h1>
        )
      }
    </article>
  </div>
</Layout>
