---
export const prerender = true;

import { fade } from "astro:transitions";
import Layout from "../../layouts/Layout.astro";

// Import all MDX files in the specified directory
const mdxFiles = await Astro.glob("../../content/projects/*.mdx");

function capitalizeFirstLetter(str) {
  return str.charAt(0).toUpperCase() + str.slice(1);
}

export function getStaticPaths() {
  return [
    {
      params: { ProjectDetails: "Application-Ally" },
    },
    { params: { ProjectDetails: "Local-Reports" } },
    { params: { ProjectDetails: "Weather-Wear" } },
  ];
}

const { ProjectDetails } = Astro.params;

// Find the MDX file where the frontmatter title matches the ProjectDetails parameter
const ProjectContent = mdxFiles.find(
  (post) => post.frontmatter.title.replace(/\s+/g, "-") === ProjectDetails,
)?.default;
---

<Layout title={ProjectDetails}>
  <a
    href="/#all-projects"
    class="relative right-1/3 top-20 mx-auto flex h-[2.5rem] w-[8rem] items-center justify-center rounded-3xl text-xl text-white transition duration-200 ease-out hover:text-orange-400 hover:underline"
    ><button>Back</button></a
  >
  <article
    transition:animate={fade({ duration: "0.25s" })}
    class="prose prose-base prose-invert mx-auto mt-[100px] w-[90%] overflow-hidden text-balance md:prose-lg lg:prose-xl prose-headings:text-gray-300 prose-h1:text-zinc-300 prose-p:font-normal prose-a:text-orange-400"
  >
    {ProjectContent ? <ProjectContent /> : <h1>Project details not found.</h1>}
  </article>
</Layout>
