---
import ExtendedProject from "../../components/ExtendedProject.astro";
import projectsAll from "../../content/collection/Projects.json";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Projects">
  <div
    class="mx-auto mt-[100px] flex w-[90%] min-w-[55%] flex-col items-start justify-center sm:w-[80%] md:w-[80%] lg:w-[60%]"
  >
    <a
      href="/"
      class="relative bottom-2 text-xl transition duration-200 ease-out hover:text-orange-400 hover:underline sm:text-white sm:hover:text-orange-400"
      >Back</a
    >

    <div class="mx-auto flex flex-col items-center justify-center gap-5">
      {
        projectsAll.map((project, index) => {
          return (
            <ExtendedProject
              name={project.name}
              key={index}
              url={project.url}
              description={project["description-long"]}
              tech={project.TechStack}
            />
          );
        })
      }
    </div>
  </div>
</Layout>
